<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>digimon-app</title>
    <link rel="stylesheet" href="base.css">
</head>
<body>
    <header><h1>digimon-app</h1></header>
    <main>
        <%digimons.forEach(ele=>{%>
            <div>
                <img src="<%=ele.img%>" alt="">
                <p><%=ele.name%></p>
                <p><%=ele.level%></p>
                <form action="/details/<%=ele.id%>" method="get">
                    <button type="submit">show details</button>
                </form>
            </div>
        <%})%>
    </main>
</body>
</html>