main {
    display: flex;
    flex-flow: wrap;
    align-content: space-around;
    flex-direction: row;
    width: 100%;
    position: relative;
    z-index: 2;
    bottom: -80px;
}
img {
    width: 220px;
}
div {
    text-align: center;
    align-items: center;
    display: grid;
    background: beige;
    padding: 5px;
    margin: 5px;
}
body {
    background: #e8e6e6;
}
header {
    text-align: center;
    position: fixed;
    width: 100%;
    background: #e8e6e6;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    z-index: 2;
}