main {
    width: 100%;
    position: relative;
    z-index: 2;
    bottom: -80px;
}
body {
    background: #e8e6e6;
}
header {
    text-align: center;
    position: fixed;
    width: 100%;
    background: #e8e6e6;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    z-index: 2;
}